.countries {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.countries > .img {
    width: 5px;
    height: 50px;
    

}

.countries > img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    
}
.countries > span{
    font-size: 16px;
    font-weight: 600;
    color: #D2D5DA;
}

.nameCountry {
    margin-left: 40px;
    margin-right: 150px;
}

.areaKm {
    margin-left: 60px;
}

.regionCt {
    margin-left: 120px;
}